{
  "presets": ["env", "flow"],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    [ "transform-runtime",
      { "polyfill": false,
        "regenerator": true
      }
    ],
    "syntax-flow"
  ]
}